[submodule "ex04/external/lodepng"]
	path = ex04/external/lodepng
	url = git@github.com:lvandeve/lodepng.git
[submodule "ex05/external/lodepng"]
	path = ex05/external/lodepng
	url = git@github.com:lvandeve/lodepng.git
	ignore = dirty
